@font-face{
    font-family:'FontAwesome';
    src:url('fonts/fontawesome-webfont.eot?v=4.7.0');
    src:url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
        url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
        url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
        url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
        url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
  	font-family: 'AvenirLTStd-Roman';
  src: url('fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),  
  url('fonts/AvenirLTStd-Roman.otf')  format('opentype'),
	     url('fonts/AvenirLTStd-Roman.woff') format('woff'), 
	     url('fonts/AvenirLTStd-Roman.ttf')  format('truetype'), 
	     url('fonts/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Book';
  src: url('fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),  
  		 url('fonts/AvenirLTStd-Book.otf')  format('opentype'),
	     url('fonts/AvenirLTStd-Book.woff') format('woff'), 
	     url('fonts/AvenirLTStd-Book.ttf')  format('truetype'), 
	     url('fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg')client  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-BookOblique';
  src: url('fonts/AvenirLTStd-BookOblique.eot?#iefix') format('embedded-opentype'),  
  	   url('fonts/AvenirLTStd-BookOblique.otf')  format('opentype'),
	   url('fonts/AvenirLTStd-BookOblique.woff') format('woff'), 
	   url('fonts/AvenirLTStd-BookOblique.ttf')  format('truetype'), 
	   url('fonts/AvenirLTStd-BookOblique.svg#AvenirLTStd-BookOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Light';
  src: url('fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),  
  url('fonts/AvenirLTStd-Light.otf')  format('opentype'),
	     url('fonts/AvenirLTStd-Light.woff') format('woff'), 
	     url('fonts/AvenirLTStd-Light.ttf')  format('truetype'), 
	     url('fonts/AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-LightOblique';
  src: url('fonts/AvenirLTStd-LightOblique.eot?#iefix') format('embedded-opentype'),  
  url('fonts/AvenirLTStd-LightOblique.otf')  format('opentype'),
	     url('fonts/AvenirLTStd-LightOblique.woff') format('woff'), 
	     url('fonts/AvenirLTStd-LightOblique.ttf')  format('truetype'), 
	     url('fonts/AvenirLTStd-LightOblique.svg#AvenirLTStd-LightOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Medium';
  src: url('fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/AvenirLTStd-Medium.otf')  format('opentype'),
	     url('fonts/AvenirLTStd-Medium.woff') format('woff'), url('fonts/AvenirLTStd-Medium.ttf')  format('truetype'), url('fonts/AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-MediumOblique';
  src: url('fonts/AvenirLTStd-MediumOblique.eot?#iefix') format('embedded-opentype'),  url('fonts/AvenirLTStd-MediumOblique.otf')  format('opentype'),
	     url('fonts/AvenirLTStd-MediumOblique.woff') format('woff'), url('fonts/AvenirLTStd-MediumOblique.ttf')  format('truetype'), url('fonts/AvenirLTStd-MediumOblique.svg#AvenirLTStd-MediumOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Oblique';
  src: url('fonts/AvenirLTStd-Oblique.eot?#iefix') format('embedded-opentype'),  url('fonts/AvenirLTStd-Oblique.otf')  format('opentype'),
	     url('fonts/AvenirLTStd-Oblique.woff') format('woff'), url('fonts/AvenirLTStd-Oblique.ttf')  format('truetype'), url('fonts/AvenirLTStd-Oblique.svg#AvenirLTStd-Oblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-Bold';
  src: url('fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/AvenirNext-Bold.woff') format('woff'), url('fonts/AvenirNext-Bold.ttf')  format('truetype'), url('fonts/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextCyr-Bold';
  src: url('fonts/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/AvenirNextCyr-Bold.woff') format('woff'), url('fonts/AvenirNextCyr-Bold.ttf')  format('truetype'), url('fonts/AvenirNextCyr-Bold.svg#AvenirNextCyr-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextCyr-Demi';
  src: url('fonts/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),  url('fonts/AvenirNextCyr-Demi.woff') format('woff'), url('fonts/AvenirNextCyr-Demi.ttf')  format('truetype'), url('fonts/AvenirNextCyr-Demi.svg#AvenirNextCyr-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextCyr-Medium';
  src: url('fonts/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/AvenirNextCyr-Medium.woff') format('woff'), url('fonts/AvenirNextCyr-Medium.ttf')  format('truetype'), url('fonts/AvenirNextCyr-Medium.svg#AvenirNextCyr-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextCyr-Regular';
  src: url('fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/AvenirNextCyr-Regular.woff') format('woff'), url('fonts/AvenirNextCyr-Regular.ttf')  format('truetype'), url('fonts/AvenirNextCyr-Regular.svg#AvenirNextCyr-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-DemiBold';
  src: url('fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),  url('fonts/AvenirNext-DemiBold.woff') format('woff'), url('fonts/AvenirNext-DemiBold.ttf')  format('truetype'), url('fonts/AvenirNext-DemiBold.svg#AvenirNext-DemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}





body
{
    font-family:'montserrat-light','Helvetica Nue','Helvetica',Arial,sans-serif !important;
    font-size: 16px !important;
    font-weight: normal !important;
    background: #fff !important;
    line-height: 1.4em !important;

}
a
{
	text-decoration: none;
	color: #fff;
	transition: all .4s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
}
a:hover
{
    text-decoration:none !important;
    outline: none;
}
h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
	letter-spacing: .25px !important;
}
h1,h2,h3
{
	color: #233d63 !important;

}
h1
{
	font-family: 'AvenirNextCyr-Bold';	
	font-size: 42px !important;
}
h2
{
	font-size: 35px !important;
	font-weight: 600 !important;
}
h3
{
	font-size: 22px !important;
}
h4
{
	font-family: 'AvenirNextCyr-Medium' !important;
	font-size: 20px !important;
	font-weight: normal !important;
	color: #ffaf30!important;
}
p
{
	line-height: 1.8em ;
	font-size: 16px ;
    color: #64697a ;
	letter-spacing: .5px;
}
li
{
	list-style: none;
}

.product-img
{
	height: 95px !important;
}

/*__________________________header______________________*/
.site-header
{
	height: 100vh;
	width: 100%;
	position: relative;
}
.navbar-nav
{
	z-index: 9999;
}

.navbar .nav-item
{		
	padding:0 10px;	
}
.navbar .nav-item .nav-link
{
	font-family: 'AvenirNextCyr-Demi';
	font-size: 16px;
	color: #fff !important;
	text-transform: capitalize;
	letter-spacing: .5px;
	float: right;
	text-align: left;
}
.navbar .nav-item:last-child .nav-link{
	color: #fff;
	padding: 6px 31px;
	border: 2px solid #fff;
	border-radius: 24px;
}
.fa-bars
{
	color: #fff;
	font-size: 30px !important;
}
.navbar-toggler
{
	outline: none !important;
}

/*___________________________________homeSlider___________________________________*/

	.homeSlider
	{
		padding-top: 10%;
	}
	.banner-curve::before
	{
		content: '';
		background-image: url('img/banner-curve.png'),linear-gradient(to right,#ed4554,#5400ff);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 100%;
		width: 60%;
		position: absolute;
		top: 0;
		right: 0;
	}
	.homeSlider .slider-content h1
	{
		color: #233d63 !important;
		font-weight: 600;
		line-height: 51px;
		width: 478px;

	}
	.homeSlider .slider-content p
	{
	   margin-top: 14px;
	}
	.homeSlider .slider-button
	{
		margin-top: 52px;
	}
	.homeSlider .slider-button .button
	{
		color: #fff;
		font-size: 0.9rem
	}

	.homeSlider .slider-button .btn-first
	{
		background: #ed4554 !important;
		opacity: .9;
		border-radius: 24px;
		padding: 14px 27px !important;
		margin-right: 20px;
		box-shadow: 0 0 20px 0 rgba(0,0,0,0.3)
	}
	.homeSlider .slider-button .btn-second
	{
		color: #ed4554;
		background: transparent;
	}

	.fa-arrow-right
	{
		color: #ed4554;
		font-size: 30px;

	}
	/*___________________________Client-vedas___________________________*/

	#client-vedas
	{
		height: auto;
		width: 100%;
		padding: 80px 0 50px;
	}
	.client-block
	{
		margin-top: 2.5rem;
	}
	.client-block .container
	{
		display: flex;
		justify-content: space-around;

	}
	.client-block .container .client-class
	{
		padding: 35px 0 10px;
		width: 19%;
	}
	.client-block img
	{
		height: 80px;
		width: 80px;
	}
	.client-block .client-class:nth-child(2) img
	{
		width: 103px;
	}

	.client-details-block h3
	{
		font-weight: 600;
	}
	.client-block .client-class p
	{
		margin-top: 15px;
	}
/*_____________________________products-vedas_______________________________________*/

	#products-vedas
	{
		height: auto;
		width: 100%;
		padding: 30px 0 50px;
	}
	.product-details-block h4
	{
		margin: 13px auto;
	}

	.switch-button
	{
		margin: 55px 0;
	}
	.switch-button a
	{
		margin: 10px 24px;
		font-weight: 600;
		color: #ccc ;
		cursor: pointer;
	}
	.switch-button a:nth-child(1)
	{
		padding: 16px 40px;
		border: 1px solid #fff;
		border-radius: 24px;
		box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
		color: #007bff;
	}
	.tab
	{
		border: 2px solid #ccc;
		margin: 0px 298px 0 318px;
		padding: 28px 5px;
		border-radius: 24px;
		position: relative;
		bottom: 96px;
	}

